In [28]:
import requests
import sqlite3
from datetime import datetime
import pandas as pd

In [27]:
params = {
    'rows' : 10000,
    'dataset': ['arome-0025-sp1_sp2_paris'],
    'facet' : 'timestamp',
    'refine.timestamp': "2022-04-01T12:00:00Z"
}

url = 'https://public.opendatasoft.com/api/records/1.0/search/?'
response = requests.get(url, params=params)
data = response.json()
data

{'nhits': 47085,
 'parameters': {'dataset': ['arome-0025-sp1_sp2_paris'],
  'rows': 10000,
  'start': 0,
  'facet': ['timestamp'],
  'format': 'json',
  'timezone': 'UTC'},
 'records': [],
 'facet_groups': [{'name': 'timestamp',
   'facets': [{'name': '2023',
     'count': 47085,
     'state': 'displayed',
     'path': '2023'}]}]}

In [50]:
df = pd.read_csv('meteo_paris_2019-2022.csv')
df = df.drop(columns=['elevation','utc_offset_seconds','timezone','timezone_abbreviation'])
df = df.rename(columns={'latitude':'date', 'longitude':'temperature'})
df = df.drop([0,1])
df['date'] = df['date'].apply(lambda x : x[8:10]+'/'+x[5:7]+'/'+x[0:4])
df = df[['temperature', 'date']]
df

     temperature        date
2            7.5  01/01/2019
3            5.7  02/01/2019
4            2.4  03/01/2019
5            1.5  04/01/2019
6            2.8  05/01/2019
...          ...         ...
1458         5.5  27/12/2022
1459        10.0  28/12/2022
1460         9.8  29/12/2022
1461         9.6  30/12/2022
1462        15.1  31/12/2022

[1461 rows x 2 columns]

In [52]:
conn = sqlite3.connect('bdd.db')

df.to_sql('temperature', conn, if_exists='append', index=False)

conn.close()