In [98]:
import pandas as pd
import streamlit as st
import sqlite3
import pydeck as pdk

In [106]:
# Connexion à la base de données
connexion = sqlite3.connect('bdd.db')

# Récupération des données de la table objet
query_objet = "SELECT * FROM objet"
df_objet = pd.read_sql_query(query_objet, connexion)

# Récupération des données de la table gare
query_gare = "SELECT * FROM gare"
df_gare = pd.read_sql_query(query_gare, connexion)

# Fermeture de la connexion à la base de données
connexion.close()

# Sélection de l'année et du type d'objet avec des widgets Streamlit
annee = '2020'

types = df_objet['type'].unique().tolist()
types_selectionnes = st.multiselect("Sélectionnez le type d'objet :", types, default=types[:], key=3)

# Filtrage des données en fonction de la sélection de l'utilisateur
df_objet_filtre = df_objet[(df_objet['type'].isin(types_selectionnes)) & (df_objet['date'].str[-4:] == annee)]
df_gare_filtre = df_gare[['gare', 'lat', 'lon', 'frequentation_' + annee]]

# Calcul du nombre d'objets trouvés des types sélectionnés pour chaque gare
df_nb_objets_par_gare = df_objet_filtre.groupby('gare')['id'].count().reset_index().rename(columns={'id': 'nb_objets'})
df_nb_objets_par_gare

                 gare  nb_objets
0    Paris Austerlitz        239
1         Paris Bercy        325
2           Paris Est        844
3  Paris Gare de Lyon       4358
4  Paris Gare du Nord       2101
5  Paris Montparnasse       4113
6  Paris Saint-Lazare       1595